html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{
    font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #1F2937;
    padding: 16px 100px 72px 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
}

.header-content {
    display: flex;
    margin-top: 72px;
    gap: 48px;
}

.secondary, .footer {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header-content img {
    align-self: center;
    flex: 1;
    max-width: 50%;
}
.header-left {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    font-family: inherit;
    font-size: 18px;
}

/* Information section */

.information {
    text-align: center;
    padding: 32px 0;
}

.card-container {
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-top: 32px;
    width: 70vw;
    margin: 0 auto;
}

.card-container div {
    flex: 1;
}

.card-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Quote section */

.quote {
    background-color: #E5E7EB;
    padding: 48px 15vw;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-reference {
    text-align: right;
}

/* Action section */

.action{
    display: flex;
    justify-content: center;
    margin: 72px 100px;
    background-color: #3882F6;
    border-radius: 8px;
}

.action-container{
    width: 70vw;
    height: auto;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.action button {
    border: 2px solid #F9FAF8;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    text-align: center;
}