body{
    font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif;
}

.header{
    background-color: #1F2937;
    padding: 16px 100px 48px 100px;
}
img {
    width: 300px;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
}

.header-content {
    display: flex;
}

.header-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-content img {
    align-self: center;
    flex: 1;
}
.header-left {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    font-family: inherit;
    font-size: 18px;
}

/* Information section */

.information {
    text-align: center;
    padding: 32px 48px 32px;
}

.card-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-top: 32px;
    width: 70vw;
    margin: 0 auto;
}

.card-container div {
    flex: 1;
}

.card-container img {
    width: 100%;
    height: auto;
}

/* Quote section */

.quote {
    background-color: #E5E7EB;
    padding: 48px 15vw;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-reference {
    text-align: right;
}